.cards{
  ul{
    margin: 0;
    padding: 0;

      li {
        position: relative;
        list-style: none;
        text-align: left;
        font-size: 1.2rem;

        a{
          text-decoration: none;
          color: #ffffff;

          .box{
            padding: .75rem;
            background: #333333 0% 0% no-repeat padding-box;
            box-shadow: 0px 4px 16px #00000029;
            border-radius: 8px;
            opacity: 1;

            .title{
              font-family: 'Poppins', sans-serif;
              font-weight: 700;
              font-size: 1rem;
            }

            .qtd{
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 300;

              font-size: 1rem;
            }
          }
        }
        .plus-btn{
          width: 36px;
          height: 36px;
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          cursor: pointer;
        }
      }
  }
}