.cards-description{
  ul{
    margin: 0;
    padding: 0;

      li {
        position: relative;
        list-style: none;
        text-align: left;
        font-size: 1.2rem;

        .bg-yellow{
          background: #F3AA00 0% 0% no-repeat padding-box;
          padding-left: 6px;
          box-shadow: 0px 4px 16px #00000029;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-top-right-radius: 11px;
          border-bottom-right-radius: 11px;
          opacity: 1;

          .box{
            padding: .75rem;
            background: #464646 0% 0% no-repeat padding-box;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            .title{
              font-family: 'Poppins', sans-serif;
              font-weight: 700;
              font-size: 1rem;
            }

            .description{
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 300;
              font-size: 1rem;
            }
          }
        }
        .plus-btn{
          width: 36px;
          height: 36px;
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
  }
}