form{
  padding: 0 15px;
  position: relative;

  .form-group{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-bottom: .9rem;

    label{
      font-size: .9rem;
      margin: 0px;
    }
    small{
      font-weight: 300;
      font-size: .9rem;
    }
  }
  .btn{
    background: #F3AA00;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    color: #000000; 
    font-weight: 700;
    text-align: center;
    max-width: 360px;
    width: 100%;
  }
}