.header{
  position: relative;
  padding: 0 15px;

  .show{
    display: block;
  }
  .hide{
    display: none;
  }
  
  .logo{
    text-align: center;

    img{
      padding: 17px 0;
    }
  }
  h2{
    font-family: 'Poppins', sans-serif;
    color: #F3AA00; 
    font-weight: 700;
    font-size: 2.2rem;
    padding: 15px 0px 8px 0;
    margin: 0px;
  }
  span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }
  .back-buttom{
    position: absolute;
    top: 26px;
    left: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    img{
      width: 25px;
    }
  }
}