@mixin fullscreen() {
  padding: 0 !important;
  
  .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    background: #464646;
  }
  
}

.modal {
  @include fullscreen();
}