.plus-btn-form{
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  background: #F3AA00;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #000000; 
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.6;
}