@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300|Poppins:700&display=swap');

html{
  body {
    background: #292929 url('./assets/images/background.svg') -47.4px 1px no-repeat padding-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
  }
}